.form_container {
    position: absolute;
    z-index: 3;
    /* background: white; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.form_container h3 {
    text-align: center;
}

.form_container form {
    border: 1px solid #999;
    border-radius: 5px;
    background: rgb(239, 239, 240);
    width: 500px;
    padding: 20px;
}
.link {
    color:#1890ff;
    cursor:pointer;
}