.contentContainer {
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.loginContainer {
    flex: 1;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fdf1fb;
    min-height: 70vh;
}

.content {
    width: 60vw;
    margin: 0 auto;
}

.container_toolbar {
    height: 55px;
    /* background: inherit; */
    background: conic-gradient(from 45deg at center right, rgba(82, 81, 84, 0.5), rgba(175, 160, 154, 0.5) 83deg 240deg, rgba(82, 81, 84, 0.5));
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
}

.container_toolbar>span {
    margin-right: 20px;
}

.container_toolbar span {
    color: #394149;
    font-weight: bold;
    cursor: pointer;
}