.logo {
    width: 120px;
    float: left;
    margin-left: -0.7vw;
}

.welcome {
    float: right;
    color: #FFF;
    margin: 0 10px;
}

.toolbar {
    float: right;
}

.toolbar>span{
    color: #eee;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}